// ドロップダウンリスト
.dropdown_con {
  width: 100vw;
  background-color: var(--main-color);
}

.dropdown {
  width: 1000px;
  margin: 0 auto;
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown_item {
  text-align: center;
  width: 480px;
  height: 70px;
  background-color: var(--main-color);
  border: solid 3px var(--white-text);
  padding: 10px;
  font-size: 20px;
  color: var(--white-text);
  position: relative;
  font-size: 30px;
 padding-left: 30px;
  background-image: url(../../../public/down_logo.svg);
  background-repeat: no-repeat;
  background-size: 50px 50px;
  background-position: left 10px center;
}
.reletive{
  position: relative;
}
.h2{
  white-space: nowrap;
  position: absolute;
  top: -55px;
  color: var(--white-text);
  font-size: 50px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  z-index: 10;
  font-weight: 1000;
  letter-spacing:5px;
}
.color{
  color: white;
}

.agent{

select#agent option[value="brim"] {
  background-image: url("../../../public/logo.png");
  width: 100px;
  height: 100px;
  z-index: 100;
}

select#gender option[value="phoenix"] {
  background-image: url("../../../public/logo.png");
  z-index: 100;
}

select#gender option[value="sage"] {
  background-image: url("../../../public/logo.png");
  z-index: 100;
}

}
