// トップ背景画像
.top_bg {
  position: relative;
  width: 100vw;
  height: 275px;
  pointer-events: none;
  h2{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 40px;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  z-index: 10;
  color: var(--white-text);
  white-space: nowrap
  }
}